<launch>
<node pkg="nxtbot" type="nxt_pub.py"  name="nxt_pub" />
<!-- rosrun nxtbot nxt_pub.py -->

<node pkg="nxtbot" type="main" name="main" />
<!-- <node pkg="nxtbot" type="image_to_grid" name="image_to_grid" /> -->

<include file="$(find nxtbot)/launch/utils.launch" />
<!-- roslaunch nxtbot utils.launch -->
<!--
<node pkg="rviz" type="rviz" name="my_rviz" args="-d $(find nxtbot)/rviz/config_file.rviz" />

<machine
        name="xux"
        address="127.0.0.1"
        env-loader="/home/xux/catkin_ws/devel/setup.bash"
        default="true"
        user="xux"
		password="a"
/>
<node machine="xux" pkg="rviz" type="rviz"  name="hello_doubles"/>
-->
</launch>